{% load static %}
<html>

<head>
    <link rel="shortcut icon" href="{% static 'img/fav.png' %}" type="image/png" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <title>MusicTube</title>
</head>

<body>
    <div id="vue-app">
        <div class="nav">
            <ul>
                <li class="logo">
                    <img alt="musictube" src="{% static 'img/logo.png' %}" height="50px">
                </li>
                {% verbatim %}
                <li class="controls">
                    <!-- TODO: Proper icons, unicode ones are awful -->
                    <p id="prev-button" v-on:click="onPrevTrack">
                        <i class="fa fa-backward"></i>
                    </p>
                    <p id="play-button" v-on:click="onPlayPause">
                        <i class="fa fa-play" v-show="!playing"></i>
                        <i class="fa fa-pause" v-show="playing"></i>
                    </p>
                    <p id="next-button" v-on:click="onNextTrack">
                        <i class="fa fa-forward"></i>
                    </p>
                </li>
                <li class="track">
                    <p class="track-title" id="track-title">{{ player.title }}</p>
                </li>
                {% endverbatim %}
                <li class="hamburger-menu">
                    <img class="menu-button" alt="MENU" src="{% static 'img/hamburger.png' %}" height="30px" onclick="toggleMenu()">
                </li>
            </ul>
            <div id="menu-dropdown" class="menu-dropdown">
                <a href="#">My Playlists</a>
                <a href="#">Edit Playlists</a>
                <a href="#">Log out</a>
            </div>
        </div>
        <div class="content">
            <component :is=current_screen 
                       :index="current_playlist_index" @update:index="onPlaylistClick" 
                       :track="playing" @update:track="updateCurrentTrack"
                       v-bind:playlists="playlists" 
                       v-bind:current_playlist_index="current_playlist_index">
            </component>
        </div>
    </div>

    <p id="json" style="visibility:hidden"> {{ json }}</p>

    <script src="{% static 'js/vue.js' %}"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
    <script src="{% static 'js/index.js' %}"></script>
    {% csrf_token %}
</body>

</html>