*.pyc
migrations
__pycache__
key
*.css
*.css.map
.vscode
package-lock.json
webpack-stats.json
db.sqlite3
build/dist

# Taken from webpack vue template
.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn.lock

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
