{% load static %}
<html>

<head>
    <link rel="shortcut icon" href="{% static 'img/fav.png' %}" type="image/png" />
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <title>{% block title %}MusicTube{% endblock %}</title>
</head>

<body>
    <img alt="MusicTube" src="{% static 'img/logo-full.png' %}" height="200px">
    {% block content %}{% endblock %}
</body>

</html>