{% load static %}
<html>

<head>
    <link rel="shortcut icon" href="{% static 'img/fav.png' %}" type="image/png" />
    <link rel="stylesheet" href="{% static 'css/manager.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <title>MusicTube</title>
</head>

<body>
    <div id="vue-app">
        <div class="nav">
            <ul>
                <li class="logo">
                    <img alt="musictube" src="{% static 'img/logo.png' %}" height="50px" v-on:click="cur_screen = 'playlists'">
                </li>
                <li class="add">
                    <p class="add-icon">
                        <i class="fa fa-plus" v-on:click="add = !add"></i>
                    </p>
                    <form v-on:submit.prevent="onAdd()">
                        <input type="text" class="add-input" id="add-input" v-if="add" placeholder="Enter name/URL...">
                    </form>
                </li>
                <li class="right-aligned">
                    <span class="hamburger-menu">
                        <i class="fa fa-bars" onclick="toggleMenu()"></i>
                    </span>
                </li>
            </ul>
            <div id="menu-dropdown" class="menu-dropdown">
                <a href="/">My Playlists</a>
                <a v-on:click="cur_screen = 'playlists'">Edit Playlists</a>
                <a href="/logout/">Log out</a>
            </div>
        </div>
        <div class="content">
            <transition name="component-fade" mode="out-in">
                <component :is=cur_screen :view="cur_playlist" @update:view="onPlaylistClick" v-bind:playlists="playlists" v-bind:cur_playlist="cur_playlist">
                </component>
            </transition>
        </div>
        <audio id="player" autoplay></audio>
    </div>

    <p id="json" style="visibility:hidden"> {{ json }}</p>

    <script src="{% static 'js/vue.js' %}"></script>
    <!--<script src="https://cdn.jsdelivr.net/npm/vue"></script>-->
    <script src="{% static 'js/manager.js' %}"></script> {% csrf_token %}
</body>

</html>