{% extends "base.html" %}
{% load render_bundle from webpack_loader %}

{% block css %}<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">{% endblock %}

{% block content %}
    <div id="vue-app"></div>
    
    <p id="json" style="display:none"> {{ json }} </p>
    
    {% if DEBUG == False %} 
        {% render_bundle 'manifest' %} 
        {% render_bundle 'vendor' %} 
    {% endif %} 
    {% render_bundle 'main' %}
    {% csrf_token %}
{% endblock %}
