body {
  margin: 0 0 5%;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #f8f8f8;
}

.content {
  margin-top: 120px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

table {
  width: 100%;
}

.nav ul {
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 75px;
  top: 0;
  background-color: #3066A7;
  box-shadow: 0 5px 10px 3px rgba(153, 153, 153, 0.4);
  position: fixed;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #fff;
  z-index: 100;
}

.hamburger-menu {
  font-size: 1.5em;
}

.menu-dropdown {
  position: fixed;
  right: 0;
  background-color: #f8f8f8;
  min-width: 200px;
  box-shadow: 0 5px 10px 3px rgba(153, 153, 153, 0.4);
  z-index: 100;
  top: 75px;
}

a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

a:hover {
  background-color: #eee;
}

.logo {
  padding: 0 50px;
}

.controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 30px 0 0;
  font-size: 1.8em;
}

.controls * {
  padding: 0 5px;
}

.grey {
  color: rgba(200, 200, 200, 0.5);
}

.add-icon {
  font-size: 1.3em;
}

input[type=text] {
  border: none;
  border-bottom: 2px solid #fff;
  background-color: #3066A7;
  color: #fff;
  margin: 20px;
  margin-bottom: 0;
  font-size: 0.6em;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.track {
  flex: 1;
}

.thumb-nav img {
  margin-right: 10px;
  margin-top: 3px;
  border: 2px solid #fff;
}

.track-title, .position-text {
  margin: 0;
  padding: 0;
}

.position {
  display: flex;
  flex-flow: row;
  white-space: nowrap;
}

.right-aligned {
  padding: 0 50px;
  flex: 1;
  text-align: right;
  display: flex;
  justify-content: flex-end;
}

.exit {
  margin: 0 10px;
}

.volume {
  padding: 0 20px;
  white-space: nowrap;
}

.volume-box {
  background-color: #3066A7;
  color: #fff;
  border: none;
  width: 45px;
  border-bottom: 1px solid #fff;
  margin-right: 20px;
}

.volume-icon {
  padding: 0 5px;
}

input[type=range] {
  -webkit-appearance: none;
  height: 3px;
  border-radius: 1px;
  background: rgba(200, 200, 200, 0.2);
  outline: none;
  padding: 0;
  margin: 0;
}

input[type=range]::-webkit-slider-thumb {
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #f8f8f8;
  cursor: pointer;
  transition: background .15s ease-in-out;
}

input[type=range]::-webkit-slider-thumb:hover {
  background: #fff;
}

input[type=range]:active::-webkit-slider-thumb {
  background: #fff;
}

input[type=range]::-moz-range-thumb {
  width: 15px;
  height: 15px;
  border: 0;
  border-radius: 50%;
  background: #f8f8f8;
  cursor: pointer;
  transition: background .15s ease-in-out;
}

input[type=range]::-moz-range-thumb:hover {
  background: #fff;
}

input[type=range]:active::-moz-range-thumb {
  background: #fff;
}

::-moz-range-track {
  background: rgba(200, 200, 200, 0.2);
  border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}

.volume-slider {
  margin: 0 5px 3px 0 !important;
  width: 60%;
}

.position-slider {
  margin: 12px 0 0 10px !important;
  width: 150%;
}

tr:nth-child(odd) {
  background-color: #f0f0f0;
}

tr:hover {
  background-color: #ddd !important;
}

td {
  padding: 10px;
}

tr .name {
  width: 85%;
}

tr .delete, .rename {
  width: 3%;
  text-align: center;
  font-size: 1.25em;
}

.thumb {
  width: 65px;
}

.playlist-thumb {
  position: relative;
  min-width: 110px;
  width: 110px;
  height: 90px;
}

.playlist-thumb img {
  position: absolute;
  border: 1px solid #fff;
}

.thumb-1 {
  left: 10px;
  top: 30;
  z-index: 30;
}

.thumb-2 {
  left: 20px;
  top: 20;
  z-index: 20;
}

.thumb-3 {
  left: 30px;
  top: 10;
  z-index: 10;
}

.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity .3s ease;
}

.position-fade-enter-active, .position-fade-leave-active {
  transition: opacity .5s;
}

.component-fade-enter, .component-fade-leave-to, .position-fade-enter, .position-fade-leave-to {
  opacity: 0;
}

.navbar-fade-enter-active, .navbar-fade-leave-active {
  transition: color .3s ease;
}

.navbar-fade-enter, .navbar-fade-leave-to, .position-fade-enter, .position-fade-leave-to {
  color: #3066A7 !important;
}

@media only screen and (max-device-width: 1024px) {
  .logo {
    display: none;
  }
  .controls {
    padding-left: 15px;
  }
}

@media only screen and (max-device-width: 768px) {
  .volume, .playlist-thumb, .thumb, .thumb-nav {
    display: none;
  }
  .track {
    overflow: hidden;
    padding: 2px 5px;
    width: 100%;
    height: 50px;
    bottom: 0;
    background-color: #3066A7;
    position: fixed;
    color: #fff;
    z-index: 100;
  }
  .track-title {
    white-space: nowrap;
  }
  .position-slider {
    width: 70% !important;
  }
  body {
    margin-bottom: 60px;
  }
  .content {
    margin-top: 85px;
  }
}

@media only screen and (max-device-width: 400px) {
  .track-title {
    white-space: normal !important;
  }
  .position-slider, .position-text {
    display: none;
  }
}
/*# sourceMappingURL=player.css.map */