{% load static %}
{% load render_bundle from webpack_loader %}
<html>

<head>
    <link rel="shortcut icon" href="{% static 'img/fav.png' %}" type="image/png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <title>MusicTube</title>
</head>

<body>
    <div id="vue-app">
        <div class="bg-img" id="bg-img" :style="`background-image: url(${thumbnail});`" v-if="thumbnail != null"></div>

        <nav>
            <div class="logo">
                <img alt="musictube" src="{% static 'img/logo.png' %}" height="50px" @click="onBackClick">
            </div>
            <player class="navbar-content"
                    :cur_playlist="cur_playlist_play" 
                    :new_video="new_video"
                    :scroll_title="scroll_title"
                    @update:thumbnail="(t) => {thumbnail = t;}"
                    v-show="!editor" key="2">
            </player>
            <div class="navbar-content" v-show="editor" key="1">
                <div class="controls">
                    <p class="add-icon">
                        <i class="fa fa-plus" @click="add = !add"></i>
                    </p>
                    <form @submit.prevent="onAdd()">
                        <input type="text" class="add-input" id="add-input" v-if="add" placeholder="Enter name/URL..."/>
                    </form>
                </div>
                <span class="exit" @click="editor = !editor">
                    Return to player
                </span>
            </div>
            <div class="hamburger-menu">
                <i class="fa fa-bars" @click="menu_active = !menu_active"></i>
            </div>
        </nav>

        <div id="menu-item" class="menu-dropdown" v-show="menu_active">
            <a class="menu-item" @click="onBackClick">My Playlists</a>
            <a class="menu-item" @click="onSettingsClick">Settings</a>
            <a class="menu-item" href="/logout/">Log out</a>
            <a class="menu-item" @click="editor = !editor">
                <i class="fa" :class="{'fa-check-square-o': editor, 'fa-square-o': !editor}" aria-hidden="true"></i>
                Editor Mode
            </a>
        </div>

        <div class="content">
            <transition name="component-fade" mode="out-in">
                <component :is=cur_screen 
                           :view="cur_playlist_view" @update:view="onPlaylistClick" 
                           @update:track="(v) => { if(!editor) { cur_playlist_play = v[0]; new_video = v[1]; }}"
                           :scroll_title="scroll_title" @update:scroll_title="scroll_title = !scroll_title"
                           :theme="theme" @update:theme="updateTheme"
                           :playlists="playlists" :cur_playlist_view="cur_playlist_view" :editor="editor"
                           :themes="themes">
                </component>
            </transition>
        </div>

        <audio id="player" autoplay @ended="editor = !editor"></audio>
    </div>

    <p id="json" style="display:none"> {{ json }}</p>

    {% render_bundle 'main' %}
    {% csrf_token %}
</body>

</html>