{% load static %}
{% load render_bundle from webpack_loader %}
<html>

<head>
    <link rel="shortcut icon" href="{% static 'img/fav.png' %}" type="image/png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <title>MusicTube</title>
</head>

<body>
    <div id="vue-app">
    </div>

    <p id="json" style="display:none"> {{ json }} </p>

    {% render_bundle 'main' %}
    {% csrf_token %}
</body>

</html>