{% load static %}
{% load render_bundle from webpack_loader %}
<html>

<head>
    <link rel="shortcut icon" href="{% static 'img/fav.png' %}" type="image/png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <title>MusicTube</title>
</head>

<body>
    <div id="vue-app">
        <div class="bg-img" id="bg-img" :style="`background-image: url(${cur_video.thumbnail});`" v-if="cur_video != null && cur_video.thumbnail != null"></div>
        <transition name="navbar-fade" mode="out-in">
            <nav v-if="!editor" key="play">
                <div class="logo">
                    <img alt="musictube" src="{% static 'img/logo.png' %}" height="50px" @click="onBackClick">
                </div>
                <div class="controls">
                    <p id="prev-button" @click="onPrevTrack">
                        <i class="fa fa-backward"></i>
                    </p>
                    <p id="play-button" @click="onPlayPause">
                        <i id="fa-play" class="fa" :class="{'fa-pause': playing, 'fa-play': !playing}"></i>
                    </p>
                    <p id="random-button" @click="random = !random" :class="{ 'grey': !random }">
                        <i class="fa fa-random"></i>
                    </p>
                    <p id="next-button" @click="onNextTrack">
                        <i class="fa fa-forward"></i>
                    </p>
                </div>
                {% verbatim %}
                <div class="thumb-nav" v-if="cur_video !== null">
                    <img :src="`https://i.ytimg.com/vi/${cur_video.url}/mqdefault.jpg`" height="50px"></img>
                </div>
                <div class="track">
                    <p class="track-title" id="track-title">{{ player.title }}</p>
                    <transition name="position-fade">
                        <span class="position" v-if="cur_video !== null">
                            <p class="position-text">{{ formatSeconds(player.position) }} / {{ formatSeconds(cur_video.length) }}</p>
                            <input type="range" class="position-slider" id="position-slider" min="0" :max="cur_video.length" step="cur_video.length / 100"
                                @input="player.e.currentTime = Math.floor($event.target.value)" :value="player.position">
                        </span>
                    </transition>
                </div>
                {% endverbatim %}
                <div class="right-aligned">
                    <span class="volume">
                        <span class="volume-icon">
                            <i class="fa fa-volume-up"></i>
                        </span>
                        <input type="range" class="volume-slider" id="volume-slider" min="0" max="100" step="1" @input="volume = $event.target.value"
                            :value="volume">
                        <input type="number" class="volume-box" id="volume-box" min="0" max="100" @change="volume = $event.target.value" :value="volume">
                    </span>
                    <span class="hamburger-menu">
                        <i class="fa fa-bars" @click="menu_active = !menu_active"></i>
                    </span>
                </div>
            </nav>
            <nav v-else key="edit">
                <div class="logo">
                    <img alt="musictube" src="{% static 'img/logo.png' %}" height="50px" @click="onBackClick">
                </div>
                <div class="controls">
                    <p class="add-icon">
                        <i class="fa fa-plus" @click="add = !add"></i>
                    </p>
                    <form @submit.prevent="onAdd()">
                        <transition name="navbar-fade">
                            <input type="text" class="add-input" id="add-input" v-if="add" placeholder="Enter name/URL...">
                        </transition>
                    </form>
                </div>
                <div class="right-aligned">
                    <span class="exit" @click="editor = !editor">
                        Return to player
                    </span>
                    <span class="hamburger-menu">
                        <i class="fa fa-bars" @click="menu_active = !menu_active"></i>
                    </span>
                </div>
            </nav>
        </transition>

        <div id="menu-item" class="menu-dropdown" v-show="menu_active">
            <a class="menu-item" @click="onBackClick">My Playlists</a>
            <a class="menu-item" href="/logout/">Log out</a>

            <a class="menu-item" @click="scroll_title = !scroll_title">
                <i class="fa" :class="{'fa-check-square-o': scroll_title, 'fa-square-o': !scroll_title}" aria-hidden="true"></i>
                Scroll Title
            </a>
            <a class="menu-item" @click="editor = !editor">
                <i class="fa" :class="{'fa-check-square-o': editor, 'fa-square-o': !editor}" aria-hidden="true"></i>
                Editor Mode
            </a>
        </div>

        <div class="content">
            <transition name="component-fade" mode="out-in">
                <component :is=cur_screen :view="cur_playlist_view" @update:view="onPlaylistClick" :track="playing" @update:track="updateCurrentPlaylistAndTrack"
                    :playlists="playlists" :cur_playlist_view="cur_playlist_view" :editor="editor">
                </component>
            </transition>
        </div>

        <audio id="player" autoplay @ended="editor = !editor"></audio>
    </div>

    <p id="json" style="display:none"> {{ json }}</p>

    {% render_bundle 'main' %}
    {% csrf_token %}
</body>

</html>